<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.pursuewind.sample.mybatisplus.plugin.mapper.DateDemoMapper">
  <resultMap id="BaseResultMap" type="io.github.pursuewind.sample.mybatisplus.plugin.domain.DateDemo">
    <!--@mbg.generated-->
    <!--@Table date_demo_2020_11-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`
  </sql>
</mapper>